pandas == 1.5.3
geopandas
numpy == 1.23.2
folium
matplotlib
streamlit == 1.37.0
streamlit_folium
fiona
gcsfs == 2023.9.2
st-files-connection
st-gsheets-connection
git+https://github.com/streamlit/gsheets-connection
mapclassify
plotly 
google.cloud
datetime
bcrypt
selenium
geckodriver
ChromeDriver
webdriver-manager

