pandas == 2.2.1
geopandas
numpy == 2.0.0
folium
matplotlib
streamlit
streamlit_folium
fiona
gcsfs == 2023.9.2
st-files-connection
st-gsheets-connection
mapclassify
plotly 
google.cloud
datetime
bcrypt
selenium
geckodriver
ChromeDriver
webdriver-manager

